@media (max-width: 1200px) {
	.container {
		max-width: 100% !important;
		padding-right: 2.5px;
		padding-left: 2.5px;
	}
	#navContainer {
		padding-right: 0px;
		padding-left: 0px;
	}
}

:root {
    --brand-img-size: 30px;
}
.initiallyHidden {
    display: none;
}
.navbar-brand > img {
    height: var(--brand-img-size);
    width: var(--brand-img-size);
}
#mainTab {
    margin-top: 5px;
}
#serverStatus {
	padding-left: 5px;
}

.tabContentTitle {
    margin-top: 5px;
}

.serverStatusIcon {
    cursor: pointer;
}

.alert {
    margin-top: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.outlined {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.accordionHeader {
	padding: 2px;
}

.btn-accordion, .btn-accordion:hover, .btn-accordion:active, .btn-accordion:visited {
	color: black !important;
}

.btn {
	color: black !important;
}

.footer-header {
	font-size:20px;
}