:root {
    --brand-img-size: 30px;
}
.navbar-brand > img {
    height: var(--brand-img-size);
    width: var(--brand-img-size);
}
#mainTab {
    margin-top: 5px;
}
.tabContentTitle {
    margin-top: 5px;
}

.serverStatusIcon {
    cursor: pointer;
}

.alert {
    margin-top: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}