{@com.gjs.taskTimekeeper.webServer.server.config.ServerInfoBean serverInfo}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/res/media/logo.svg"/>
    <title>{title} - Task Timekeeper</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/res/lib/bootstrap/4.4.1/css/minty.min.css">
    <link rel="stylesheet" href="/res/style/main.css">
    {#for styleSheet in extraStyle}
    <link rel="stylesheet" href="/res/style/{styleSheet}">
    {/for}

    <style>
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/res/media/logo.svg" alt="">
            Task Timekeeper
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- TODO:: make server status thing -->

        <div class="collapse navbar-collapse" id="navbarColor01">

            <ul class="navbar-nav ml-auto">
                <!-- TODO:: implement when we know how this will work -->
                <li class="nav-item dropdown">
                    <a id="loginNavText" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Login</a>
                        <a class="dropdown-item" href="#">Form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="messageDiv">

    </div>

    {#insert pageContent}<h1>No body!</h1>{/}

    <hr />
    <div id="footer" class="row">
        <div class="col-sm-4">
            <h5>Task Timekeeper Server</h5>
            <p>
                &copy; 2020 <a href="https://gjstewart.net" target="_blank">Greg Stewart</a><br />
                Released under the <a href="https://opensource.org/licenses/Apache-2.0" target="_blank">Apache 2.0 License</a><br />
                <a href="https://github.com/GregJohnStewart/task-timekeeper" target="_blank">Github</a><br />
            </p>
        </div>
        <div id="serverInfo" class="col-sm-4">
            <h5>
                Run by:<br />
                {#if {serverInfo.orgUrl.isPresent()}}
                <a href="{serverInfo.orgUrl.get()}" target="_blank">{serverInfo.organization.get()}</a>
                {#else}
                {serverInfo.organization.get()}
                {/if}
            </h5>
            {#if {serverInfo.contactInfo.name.isPresent()} || {serverInfo.contactInfo.email.isPresent()} || {serverInfo.contactInfo.phone.isPresent()}}
            <h5>
                Contact information:
            </h5>
            <address>
                {#if {serverInfo.contactInfo.name.isPresent()}}
                <h6>
                    {serverInfo.contactInfo.name.get()}
                </h6>
                {/if}

                {#if {serverInfo.contactInfo.email.isPresent()} || {serverInfo.contactInfo.phone.isPresent()}}
                <p>
                    {#if {serverInfo.contactInfo.email.isPresent()}}
                    Email: <a href="mailto:{serverInfo.contactInfo.email.get()}">{serverInfo.contactInfo.email.get()}</a> <br />
                    {/if}
                    {#if {serverInfo.contactInfo.phone.isPresent()}}
                    Phone: <a href="tel:{serverInfo.contactInfo.phone.get()}">{serverInfo.contactInfo.phone.get()}</a> <br />
                    {/if}
                </p>
                {/if}
            </address>
            {/if}
        </div>
        <div class="col-sm-4">
            <p>
            Your privacy is important to the original project. It only creates one cookie, and that is for the login token.
                The project also only collects what you give it, and it is up to the people running the server to ensure it is handled
                well. Please contact the folks running the server for more information.
            </p>
            <!-- TODO:: legal disclaimer, etc. -->
        </div>
    </div>
</div>

<script src="/res/lib/jquery/3.4.1/jquery.min.js"></script>
<script src="/res/lib/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/res/lib/js.cookie/js.cookie.min.js"></script>
<script src="/res/script/main.js"></script>
{#for script in extraScripts}
<script src="/res/script/{script}"></script>
{/for}
</body>
</html>