{@com.gjs.taskTimekeeper.webServer.server.config.ServerInfoBean serverInfo}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="/res/media/logo.svg"/>
	<title>{title} - Task Timekeeper</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/res/style/bootstrap-adjust.css">
	<link rel="stylesheet" href="/res/lib/bootstrap/4.4.1/css/minty.min.css">
	<link rel="stylesheet" href="/res/lib/fontawesome/fontawesome-free-5.13.0-web/css/all.css">
	<link rel="stylesheet" href="/res/lib/spin.js/spin.css">
	<link rel="stylesheet" href="/res/style/main.css">
	{#for styleSheet in extraStyle}
	<link rel="stylesheet" href="/res/{styleSheet}">
	{/for}

	<style>
	</style>
</head>
<body>
<div id="navContainer" class="container" role="navigation" title="Main Navbar">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
		<a class="navbar-brand" href="/">
			<img src="/res/media/logo.svg" alt="Task Timekeeper Logo">
			{#if {serverInfo.serverName.isPresent()}}
			{serverInfo.serverName.get()}
			{/if} Task&nbsp;Timekeeper&nbsp;Server
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">

			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a id="loginNavText" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div id="navbarLoginContent" class="initiallyHidden loggedOutContent">
							<form id="navbarLogin" class="px-4 py-3 loginForm">
								<div class="form-group">
									<label for="navbarLoginEmailUsername">Email or Username:</label>
									<input type="text" class="form-control loginEmailUsername" id="navbarLoginEmailUsername" placeholder="email or username" name="usernameEmail" required>
								</div>
								<div class="form-group">
									<label for="navbarLoginPassword">Password:</label>
									<input type="password" class="form-control loginPassword" id="navbarLoginPassword" placeholder="password" name="password" required>
								</div>
								<div class="form-group">
									<div class="form-check">
										<input type="checkbox" class="form-check-input loginStayLoggedIn" id="navbarLoginStayLoggedIn" name="stayLoggedIn" form="navbarLogin">
										<label class="form-check-label" for="navbarLoginStayLoggedIn">
											Remember me
										</label>
									</div>
								</div>
								<button id="navbarLoginSubmitButton" type="submit" class="btn btn-primary submitButton">
									Sign in <i class="fas fa-sign-in-alt"></i>
								</button>
								<button type="reset" class="btn btn-link resetButton">Reset</button>
								<div class="form-response">
								</div>
							</form>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/accountReset">
								<i class="fas fa-unlock-alt fa-fw"></i> Forgot password?
							</a>
							<a class="dropdown-item" href="/"><i class="fas fa-user-plus fa-fw"></i> Create Account</a>
						</div>
						<div id="navbarLogoutContent" class="initiallyHidden loggedInContent">
							<a class="dropdown-item logoutButton" href="/userSettings"><i class="fas fa-user-cog fa-fw"></i>
								User Settings</a>
							<a id="adminLink" class="dropdown-item logoutButton initiallyHidden" href="/admin">
								<i class="fas fa-users-cog fa-fw"></i>
								Admin Settings
							</a>
							<a id="logoutButton" class="dropdown-item logoutButton" href="#">
								<i class="fas fa-sign-out-alt fa-fw"></i>
								Logout
							</a>
						</div>
					</div>
				</li>
				<li class="nav-item" id="serverStatus" data-toggle="popover" title="Server Status" data-content="Checking server status...">
					<i id="serverStatusChecking" class="serverStatusIcon fas fa-question-circle fa-lg fa-fw"></i>
					<i id="serverStatusDown" class="serverStatusIcon initiallyHidden fas fa-exclamation-circle fa-lg fa-fw text-warning outlined"></i>
					<i id="serverStatusUp" class="serverStatusIcon initiallyHidden fas fa-check-circle fa-lg fa-fw text-info outlined"></i>
					<i id="serverStatusDisconnect" class="serverStatusIcon initiallyHidden fas fa-bolt fa-lg fa-fw text-danger outlined"></i>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div id="mainContainer" class="container">

	<div id="messageDiv">

	</div>

	<main role="main">
		{#insert pageContent}<h1>No body!</h1>{/}
	</main>

	<hr/>
	<footer id="footer" class="row" role="contentinfo">
		<div class="col-sm-4">
			<h1 class="footer-header">Task Timekeeper Server</h1>
			<p>
				&copy; 2020 <a href="https://gjstewart.net" target="_blank">Greg Stewart</a><br/>
				Released under the <a href="https://opensource.org/licenses/Apache-2.0" target="_blank">Apache 2.0
				License</a><br/>
				<a href="https://github.com/GregJohnStewart/task-timekeeper" target="_blank">Github</a><br/>
			</p>
		</div>
		<div id="serverInfo" class="col-sm-4">
			<h1 class="footer-header">
				Run by:<br/>
				{#if {serverInfo.orgUrl.isPresent()}}
				<a href="{serverInfo.orgUrl.get()}" target="_blank">{serverInfo.organization}</a>
				{#else}
				{serverInfo.organization}
				{/if}
			</h1>
			{#if {serverInfo.contactInfo.name.isPresent()} || {serverInfo.contactInfo.email.isPresent()} ||
			{serverInfo.contactInfo.phone.isPresent()}}
			<h2>
				Contact information:
			</h2>
			<address>
				{#if {serverInfo.contactInfo.name.isPresent()}}
				<p>
					<strong>
						{serverInfo.contactInfo.name.get()}
					</strong>
				</p>
				{/if}

				{#if {serverInfo.contactInfo.email.isPresent()} || {serverInfo.contactInfo.phone.isPresent()}}
				<p>
					{#if {serverInfo.contactInfo.email.isPresent()}}
					<i class="far fa-envelope fa-fw"></i> <a
						href="mailto:{serverInfo.contactInfo.email.get()}">{serverInfo.contactInfo.email.get()}</a>
					<br/>
					{/if}
					{#if {serverInfo.contactInfo.phone.isPresent()}}
					<i class="fas fa-phone-alt fa-fw"></i> <a href="tel:{serverInfo.contactInfo.phone.get()}">{serverInfo.contactInfo.phone.get()}</a>
					<br/>
					{/if}
				</p>
				{/if}
			</address>
			{/if}
		</div>
		<div class="col-sm-4">
			<p>
				Your privacy is important to the original project. It only creates one cookie, and that is for the login
				token.
				The project also only collects what you give it, and it is up to the people running the server to ensure
				it is handled
				well. Please contact the folks running the server for more information.
			</p>
			<!-- TODO:: legal disclaimer, etc. -->
		</div>
	</footer>
</div>

<script src="/res/lib/jquery/3.4.1/jquery.min.js"></script>
<script src="/res/lib/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/res/lib/js.cookie/js.cookie.min.js"></script>
<script src="/res/lib/spin.js/spin.js"></script>
<script src="/res/script/forms.js"></script>
<script src="/res/script/main.js"></script>
{#for script in extraScripts}
<script src="/res/{script}"></script>
{/for}
</body>
</html>