{#include webPages/mainWebPageTemplate}
{#pageContent}

<ul class="nav nav-tabs" id="mainTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="selectedPeriodTab" data-toggle="tab" href="#selectedPeriodContent" role="tab" aria-controls="selectedPeriodContent" aria-selected="true">Selected Period</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="periodsTab" data-toggle="tab" href="#workPeriodsContent" role="tab" aria-controls="workPeriodsContent" aria-selected="false">Work Periods</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tasksTab" data-toggle="tab" href="#tasksContent" role="tab" aria-controls="tasksContent" aria-selected="false">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="statsTab" data-toggle="tab" href="#statsContent" role="tab" aria-controls="statsContent" aria-selected="false">Stats</a>
    </li>
</ul>
<div class="tab-content" id="mainTabContent">
    <div class="tab-pane fade show active" id="selectedPeriodContent" role="tabpanel" aria-labelledby="selectedPeriodTab">
        <h2 class="tabContentTitle">Selected Period</h2>
        <hr />
    </div>
    <div class="tab-pane fade" id="workPeriodsContent" role="tabpanel" aria-labelledby="periodsTab">
        <h2 class="tabContentTitle">Work Periods</h2>
        <hr />
    </div>
    <div class="tab-pane fade" id="tasksContent" role="tabpanel" aria-labelledby="tasksTab">
        <h2 class="tabContentTitle">Tasks</h2>
        <hr />
    </div>
    <div class="tab-pane fade" id="statsContent" role="tabpanel" aria-labelledby="statsTab">
        <h2 class="tabContentTitle">Stats</h2>
        <hr />
    </div>
</div>



{/pageContent}
{/include}