{#include webPages/mainWebPageTemplate}
{#pageContent}
<div id="loggedInContent" class="initialDisplay">
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="selectedPeriodTab" data-toggle="tab" href="#selectedPeriodContent" role="tab" aria-controls="selectedPeriodContent" aria-selected="true">
				Selected Period
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="periodsTab" data-toggle="tab" href="#workPeriodsContent" role="tab" aria-controls="workPeriodsContent" aria-selected="false">Work
				Periods
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tasksTab" data-toggle="tab" href="#tasksContent" role="tab" aria-controls="tasksContent" aria-selected="false">Tasks</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="statsTab" data-toggle="tab" href="#statsContent" role="tab" aria-controls="statsContent" aria-selected="false">Stats</a>
		</li>
	</ul>
	<div class="tab-content" id="mainTabContent">
		<div class="tab-pane fade show active" id="selectedPeriodContent" role="tabpanel" aria-labelledby="selectedPeriodTab">
			<h2 class="tabContentTitle">Selected Period</h2>
			<hr/>
		</div>
		<div class="tab-pane fade" id="workPeriodsContent" role="tabpanel" aria-labelledby="periodsTab">
			<h2 class="tabContentTitle">Work Periods</h2>
			<hr/>
		</div>
		<div class="tab-pane fade" id="tasksContent" role="tabpanel" aria-labelledby="tasksTab">
			<h2 class="tabContentTitle">Tasks</h2>
			<hr/>
		</div>
		<div class="tab-pane fade" id="statsContent" role="tabpanel" aria-labelledby="statsTab">
			<h2 class="tabContentTitle">Stats</h2>
			<hr/>
		</div>
	</div>
</div>
<div id="loggedOutContent" class="initialDisplay">
	<h1>
		Welcome to Task Timekeeper
	</h1>
	<p>
		This tool is meant to make keeping track of the time you spend on tasks easier.
		<a href="#" class="btn btn-primary btn-sm">Learn More</a>
	</p>

	<div class="row">
		<div class="col-lg-6 card">
			<div class="card-body">
				<h2 class="card-title">
					Login
				</h2>
				<form id="homeLogin" class="loginForm card-text">
					<div class="form-group">
						<label for="homeLoginEmailUsername">Email or Username:</label>
						<input type="text" class="form-control loginEmailUsername" id="homeLoginEmailUsername" placeholder="email or username" name="usernameEmail" required>
					</div>
					<div class="form-group">
						<label for="homeLoginPassword">Password:</label>
						<input type="password" class="form-control loginPassword" id="homeLoginPassword" placeholder="password" name="password" required>
					</div>
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" class="form-check-input loginStayLoggedIn" id="homeLoginStayLoggedIn" name="stayLoggedIn">
							<label class="form-check-label" for="homeLoginStayLoggedIn">
								Remember me
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-primary submitButton">Sign in
						<i class="fas fa-sign-in-alt"></i>
					</button>
					<button type="reset" class="btn btn-link resetButton">Reset</button>
					<div class="form-response">
					</div>
				</form>
				<br/>
				<a href="/accountReset"><i class="fas fa-unlock-alt fa-fw"></i> Forgot password?</a>
			</div>
		</div>
		<div class="col-lg-6 card">
			<div class="card-body">
				<h2 class="card-title">
					Create Account
				</h2>
				<form id="homeCreateAccount" class="card-text">
					<div class="form-group">
						<label for="createAccountEmail">Email:</label>
						<input type="email" class="form-control loginEmailUsername" id="createAccountEmail" placeholder="Email" name="email" required>
					</div>
					<div class="form-group">
						<label for="createAccountUsername">Username:</label>
						<input type="text" class="form-control loginEmailUsername" id="createAccountUsername" placeholder="Username" name="email" required>
					</div>
					<div class="form-group">
						<label for="createAccountPassword">Password:</label>
						<input type="password" class="form-control loginPassword" id="createAccountPassword" placeholder="Password" name="password" required>
					</div>
					<div class="form-group">
						<label for="createAccountPasswordConfirm">Password Confirmation:</label>
						<input type="password" class="form-control loginPassword" id="createAccountPasswordConfirm" placeholder="Password Confirm" name="password" required>
					</div>

					<button type="submit" class="btn btn-primary submitButton" id="createAccountSubmitButton">Create
						Account <i class="fas fa-user-plus"></i></button>
					<button type="reset" class="btn btn-link resetButton" id="resetAccountSubmitButton">Reset</button>
					<div class="form-response">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{/pageContent}
{/include}